#primary-menu li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    text-transform: none;
    flex-direction: column;
    align-items: center;
    line-height: unset;
    height: 54px;
    justify-content: space-between;
    padding: 0;
    display: flex;
    box-sizing: border-box;
}

/* .search-icon {
    margin: 45px 8px;
} */

.input-search {
    height: 40px;
    line-height: 40px;
    position: relative;
    padding: 0 0 0px 30px;
    border-radius: 0;
}

.btn {
    width: 80px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    border-radius: 0;
    border: none;
    position: relative;
    display: block;
}

#primary-menu img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    position: relative;
}

#primary-menu {
    list-style: none;
    display: flex;
}

.col-7 > .container {
    margin: 34px -26px;
}

#primary-menu > li {
    text-align: center;
    margin-right: 15px;
    position: relative;
    box-sizing: border-box;
}


