.container-fluid {
    background-color: black;
    text-align: center;

}

.menu {
    color: white;
    display: inline-flex;
    list-style: none;

}

.logo {
    margin-left: 20%;
    
}

.container {
    margin-left: 20%;
}

