.thick-green-border {
    border-radius: 50%;
    border-color: green;
    border-width: 10px;
    border-style: solid;
}

.red-text {
    color: red;
}

h1 {
    font-family: Lobster;
}

p { 
    font-family: monospace;
    font-size: 16px;
}

.smaller-img {
    width: 100px;
    
}

.box-1 {
    width: 50%;
    height: 50%;
}

.box-2 {
    width: 50%;
    height: 50%;  
}

.box-container {
    background-color: bisque;
    align-content: center;
    justify-content: center;
    flex-direction: column-reverse;
}